@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: #000;
    margin: 0;
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-image: url(../image/background-imgae.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 120px;
    color: #fff;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 115px;
}

.header-logo,
.header-list {
    margin-top: 20px;
    margin-bottom: 115px;
}

.header-item-button {
    color: #fafafa;
    font-size: 14px;
    padding: 10px 35px;
    border-radius: 4px;
    border: 1px solid #fafafa;
    margin-top: 20px;
}

.header-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-item {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.header-item:nth-child(7) {
    padding: 11px 17px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-title {
    font-weight: 700;
    font-size: 71px;
    margin-bottom: 30px;
}

.header-subtitle {
    margin-bottom: 60px;
    font-size: 13px;
    font-weight: 700;
}

.header-link {
    font-size: 16px;
    padding: 15px 30px;
    background-color: #5AB963;
    border-radius: 4px;
    margin-bottom: 120px;
}

.promoting {
    padding-bottom: 150px;
}

.promoting-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promoting-list {
    display: flex;
    gap: 100px;
}

.promoting-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promoting-parag-title {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2.4px;
    max-width: 694px;
    text-align: center;
    margin-bottom: 130px;
}

.promoting-parag {
    max-width: 507px;
    font-size: 24px;
    margin-bottom: 105px;
    font-weight: 100;
}

.promoting-image {
    margin-bottom: 25px;
}

.promoting-subtitle {
    margin-bottom: 13px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.promoting-about {
    max-width: 300px;
    color: #999;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.screen-image-cont {
    margin: 0 30px 115px;
}

.screen-image {
    width: 100%;
    margin-bottom: 139px;
}

.decore-text-cont {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 116px;
}

.decore-prag {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 1.2px;
    max-width: 685px;
    margin-bottom: 24px;
}

.decore-link {
    color: #5AB963;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.info-inner {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.info-one {
    display: flex;
    padding-top: 120px;
    gap: 100px;
    margin-bottom: 90px;
}

.info-one-title,
.info-two-title {  
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    max-width: 370px;
}

.info-one-parag,
.info-two-parag {
    font-size: 14px;
    font-weight: 200;
    max-width: 384px;
    line-height: 25px;
}

.info-two {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    margin-bottom: 110px;
}

.info-two-text,
.info-one-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    color: #999;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    max-width: 370px;
}

.info-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-bottom: 120px;
}

.info-bottom-link {
    color: #5AB963;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.info-bottom-title {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.invite-inner {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.invite-item {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    align-items: center;
}

.invite-title {
    margin-bottom: 15px;
    font-size: 16px;
    color: #5AB963;
}

.invite-parag {
    max-width: 479px;
    font-size: 24px;
    font-weight: 200;
}

.invite-link {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    padding: 14px 30px;
    background-color: #5AB963;
}

.subscribe {
    background-color: #5AB963;
}

.subscribe-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 109px 0 133px;
}

.subscribe-title {
    margin-bottom: 63px;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    max-width: 430px;
}

.subscribe-form {
    display: flex;
    gap: 14px;
}

.subscribe-form-input {
    width: 407px;
    height: 60px;
    padding: 26px 40px 26px 20px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
}

.subscribe-form-button {
    color: #fafafa;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    border: none;
    background-color: #0A0E1A;
    border-radius: 4px;
    width: 215px;
    height: 60px;
    transition: .3s all;
}

.subscribe-form-button:hover {
    background-color: #fafafa;
    color: #0A0E1A;
    scale: 1.05;
}

.subscribe-form-input::placeholder {
    color: rgba(153, 153, 153, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
}

.footer {
    background-color: #0A0E1A;
    color: #fff;
    padding: 120px 150px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    margin-bottom: 15px;
}

.footer-subtitle {
    color: #666;
    font-size: 12px;    
    font-weight: 400;
    line-height: 18px;
}

.footer-right {
    display: flex;
    align-items: start;
    width: 50%;
    justify-content: end;
    gap: 50px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.footer-right-nav-list {
    display: flex;
    gap: 21px;
}